<template name="loginForm">
	{{#if currentUser}}
		{{> profile}}
	{{else}}
		<a class="btn-flat waves-effect waves-teal-light right regToggle">
			{{#if regMode}}Login{{else}}Register{{/if}}
		</a>
		{{#if regMode}}
			{{> register}}
		{{else}}
			{{> login}}
		{{/if}}
	{{/if}}
</template>

<template name="loginBtn">
	<a class="{{#if onlyOpen}}modal-opener{{else}}modal-trigger{{/if}}" href="#login">{{btnText}}</a>
</template>

<template name="loginModal">
	<div id="login" class="modal">
		<div class="modal-content">
			<h4>Sign in/up</h4>
			<div class="row center">
				<div class="col s12 l6 offset-l3">{{> loginForm}}</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
</template>

<template name="register">
	<form>
		<div class="row">
			<div class="input-field col s12">
				<label for="registerEmail" class="active" data-error="wrong" data-success="right">E-mail</label>
				<input type="email" name="registerEmail" class="validate" placeholder="Place your E-mail">
			</div>
		</div>
		<div class="row">
			<div class="col s12 input-field">
				<label for="registerPassword" class="active" data-error="wrong" data-success="right">Password</label>
				<input type="password" name="registerPassword" class="validate" placeholder="Place your password">
				<input type="password" name="registerPassword2" class="validate" placeholder="Verify password">
				<input type="submit" value="Register" class="btn blue accent-3">
			</div>
		</div>
	</form>
</template>

<template name="login">
	<form>
	<div class="row">
		<div class="input-field col s12">
				<label for="loginEmail" class="active" data-error="wrong" data-success="right">E-mail</label>
				<input type="email" name="loginEmail" class="validate" placeholder="Place your E-mail">
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
				<label for="loginPassword" class="active" data-error="wrong" data-success="right">Password</label>
				<input type="password" name="loginPassword" class="validate" placeholder="Place your password">
				<input type="submit" value="Login" class="btn red accent-3">
		</div>
	</div>
	</form>
</template>

