<template name="register">
	<div class="row">
		<div class="col s12 input-field">
			<form>
				<input type="email" name="registerEmail" class="validate" placeholder="email">
				<input type="password" name="registerPassword" class="validate" placeholder="password">
				<input type="submit" value="Register" class="btn blue accent-3">
			</form>
		</div>
	</div>
</template>

<template name="login">
	<div class="row">
		<div class="col s12 input-field">
			<form>
				<input type="email" name="loginEmail" class="validate" placeholder="email">
				<input type="password" name="loginPassword" class="validate" placeholder="password">
				<input type="submit" value="Login" class="btn red accent-3">
			</form>
		</div>
	</div>
</template>

