/**
 * Customize default CSS properities
 */
html, body {
	background-color: #fefefe;
}

/**
 * Customize derived CSS
 */
label[data-error]:after, label[data-success]:after {
	/* This is updated by https://github.com/Dogfalo/materialize/issues/1690 */
	white-space: nowrap;
}
.inline-block {
	display:inline-block !important;
}

/**
 * Added CSS Properties
 */
div.cell {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 0;
	background-color: white;
	cursor: pointer;
}
div.cell.marked {
	background-image: url('http://alps.jbnu.ac.kr/joonas/mark.png');
	background-position: center;
}
div.cell.filled {
	background-color: #4db6ac;
}
div.cell-odd {
	background-color: #b2dfdb;
}
div#playBoard {
	position: relative;
	margin: auto;
	background-color: #26a69a;
}
nav .brand-logo {
	color: rgba(0,0,0,.0);
	font-size: 1em;
	background-image: url('./logo.cube.png');
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
div#main {
	padding: 3.5em 0;
}

/* Posts */
.posts .card .card-action.card-header { padding-bottom: 0; }
.posts .card .card-content { padding-top: 0; }
.posts .card .card-action.submitted { padding:10px 20px; }
.posts .card .card-action.submitted p { margin:5px auto; font-size: 0.875em; color:#eee; }

/* Comments */
ul.collection.comments-list {
	border: 0;
}
li.collection-item.comment-item {
	border: 1px solid #eeeeee;
	border-radius: 5px;
	margin-bottom: 20px;
}
.comment-item .comment-footer {
	font-size: 0.875em;
	color: #bebebe;
	text-align: right;
	border-top: 1px solid #ccc;
	margin-top: 1.75em !important;
}

/* Notifications */
.notifi-btn {
	line-height: initial;
}
.modal.notifications {
	color: #263238;
	background-color: #cfd8dc !important;
}



