<template name="postEdit">
	<div class="row posts">
		<div class="col s12 l6 offset-l3">
			<div class="card">
			<form>
				<div class="card-action card-header">
					<a href="{{pathFor 'postPage'}}"><i class="material-icons">replay</i></a>
				</div>
				<div class="card-content">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate {{errorClass 'title'}}" value="{{title}}" name="title" id="title" />
							<label class="active" for="title" data-error="{{errorMessage 'title'}}" data-success="It is right!">Title</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea class="materialize-textarea" name="content" id="content" placeholder="Place your content" length="1000">{{content}}</textarea>
							<label class="active" for="content">Content</label>
						</div>
					</div>
				</div>
				<div class="card-action">
					<a href="#" class="btn-flat waves-effect waves-red-light delete">Delete</a>
					<button type="submit" class="btn btn-teal waves-efeect waves-light">Submit</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</template>
