<template name="postsList">
	<div class="row">
	{{#if posts.count}}
		{{#each posts}}
			{{> postItem}}
		{{/each}}
	{{else}}
	<div class="col s12 center">
			<p><i class="small material-icons">info_outline</i><br/>There is no item.</p>
		</div>
	{{/if}}
	{{#if nextPath}}
		<div class="col s12 center">
			<a class="btn teal waves-effect waves-light load-more" href="{{nextPath}}"> Load more </a>
		</div>
	{{else}}
		{{#unless ready}}
			{{> preloader}}
		{{/unless}}
	{{/if}}
	</div>
</template>

<template name="postItem">
	<div class="col s12 l3">
		<div class="card {{#if pending}}pending{{/if}}">
			<div class="card-content">
				<div class="card-title">
					<a href="{{pathFor 'postPage'}}{{nLoadUri}}" class="title-text">{{substr title}}</a>
				</div>
				<p class="grey-text darken-2">
					{{#if commentsCount}}{{withPlural commentsCount "comment"}},&nbsp;{{/if}}
					by {{author}}
				</p>
				<div class="spinner"></div>
			</div>
		</div>
	</div>
</template>
