<template name="postSubmit">
	<div class="row posts">
		<div class="col s12 l6 offset-l3">
			<div class="card">
			<form>
				<div class="card-action card-header">
					<a href="{{pathFor 'postsList'}}"><i class="material-icons">list</i></a>
				</div>
				<div class="card-content">
					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate {{errorClass 'title'}}" name="title" id="title" placeholder=""/>
							<label for="title" data-error="{{errorMessage 'title'}}" data-success="It is right!">Title</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea class="materialize-textarea" name="content" id="content" length="1000"></textarea>
							<label for="content">Content</label>
						</div>
					</div>
				</div>
				<div class="card-action">
					<button type="submit" class="btn btn-teal waves-efeect waves-light">Submit</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</template>
