<template name="postsList">
	<div class="container">
		<ul class="collection">
		{{#if posts.count}}
		{{#each posts}}
			{{> postItem}}
		{{/each}}
		{{else}}
			<li class="collection-item center">
				<i class="small material-icons">error_outline</i><br/>There is no item.
			</li>
		{{/if}}
		</ul>
	</div>
</template>

<template name="postItem">
	<li class="collection-item avatar">
		<i class="material-icons circle {{#if pending}}{{else}}green{{/if}}">chat_bubble</i>
		<span class="title">{{title}}</span>
		<p>{{url}}</p>
		<a href="{{pathFor 'postPage'}}" class="secondary-content"><i class="material-icons">input</i></a>
	</li>
</template>
