<template name="postPage">
	{{> postPageView}}	
	<div class="row">
		<div class="col s12 l6 offset-l3">
			<div class="divider" style="margin-bottom:2.0em;"></div>
			{{> postPageComments}}
			{{#if currentUser}}
				<div class="divider" style="margin:2.0em 0;"></div>
				{{> commentSubmit}}
			{{/if}}
		</div>
	</div>
</template>

<template name="postPageView">
	<div class="row posts">
		<div class="col s12 l6 offset-l3">
			<div class="card blue-grey darken-1">
				<div class="card-action card-header">
					<a href="{{pathFor 'postsList'}}"><i class="material-icons">list</i></a>
					{{#if ownPost}}&nbsp;<a href="{{pathFor 'postEdit'}}"><i class="material-icons">edit</i></a>{{/if}}
				</div>
				<div class="card-content white-text">
					<span class="card-title green-text text-lighten-3">{{title}}</span>
					<div class="white-text">{{#markdown}}{{content}}{{/markdown}}</div>
					<p class="right-align grey-text text-lighten-1">Written by {{#if author}}{{author}}{{else}}Anonymous{{/if}}</p>
				</div>
				<div class="card-action submitted"><p>{{submittedText}}</p></div>
			</div>
		</div>
	</div>
</template>

<template name="postPageComments">
	{{#if comments.count}}
		<ul class="collection comments-list">
		{{#each comments}}
			{{> commentItem}}
		{{/each}}
		</ul>
	{{else}}
		<p class="grey-text center">There is no comments yet.</p>
	{{/if}}
</template>
