<template name="postsList">
	<div class="container">
		<ul class="collection">
		{{#if posts.count}}
		{{#each posts}}
			{{> postItem}}
		{{/each}}
		{{else}}
			<li class="collection-item center">
				<i class="small material-icons">info_outline</i><br/>There is no item.
			</li>
		{{/if}}
		</ul>
	</div>
</template>

<template name="postItem">
	<li class="collection-item avatar">
		<i class="material-icons circle {{#if pending}}{{else}}green{{/if}}">polymer</i>
		<span class="title"><a href="{{pathFor 'postPage'}}" class="green-text">{{title}}</a></span>
		<p class="grey-text darken-2">by {{author}}</p>
		{{#if commentsCount}}
		<a href="{{pathFor 'postPage'}}" class="secondary-content">
			<i class="material-icons">comment</i>&nbsp;{{commentsCount}}
		</a>
		{{/if}}
	</li>
</template>
