<template name="notificationPage">
  <!-- TODO: Add to router -->
</template>

<template name="notifications">
  {{> notificationButton count=notificationCount}}
  <div id="Notifications" class="side-nav notifications">
      <h4>
        <i class="mdi-social-notifications inline-block"></i> Notifications
        <a href="#!" class="modal-action modal-close right waves-effect waves-light btn-flat" style="overflow:visible;">
          <i class="mdi-content-clear"></i>
        </a>
      </h4>
      {{#if notificationCount}}
        <ul class="collection">
        {{#each notifications}}
          {{> notificationItem}}
        {{/each}}
        </ul>
      {{else}}
        <p class="center grey-text">No Notifications</p>
      {{/if}}
  </div>
</template>

<template name="notificationItem">
	<a href="{{notificationPostPath}}">
	<li class="collection-item avatar">
		<img src="/noprofile.png" class="circle" alt="{{commenterName}}" />
		<span class="title"><strong>{{commenterName}}</strong></span>
		<p>commented on your post "<b>{{notificationPostTitle}}</b>"</p>
	</li>
	</a>
</template>

<template name="notificationButton">
	<a href="#" data-activates="Notifications" class="notifi-btn">
		<i class="mdi-social-notifications inline-block"></i>
		{{#if count}}
			&nbsp;+{{count}}
		{{/if}}
	</a>
</template>
